<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.julienelkaim.testyoutube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Projet ENAP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".controller.Youtube.Aidant.PlaylistCreatorFromYoutubeActivity"></activity>
        <activity android:name=".controller.Youtube.Aidant.PlaylistCreatorDispatcherActivity" />
        <activity
            android:name=".controller.Message.ChatActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".controller.Message.ContactsActivity" />
        <activity android:name=".controller.Youtube.Aidant.PlaylistCreatorActivity" />
        <activity android:name=".controller.Youtube.Aidant.PlaylistDisplayerSingleActivity" />
        <activity android:name=".controller.Message.LoginActivity" />
        <activity android:name=".controller.Message.RegisterActivity" />
        <activity android:name=".controller.Message.AuthActivity" />
        <activity android:name=".controller.Youtube.Child.VideoDisplayerActivity" />
        <activity android:name=".controller.Youtube.Aidant.PlaylistDisplayerAllActivity" />
        <activity android:name=".controller.DispatcherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.Youtube.Aidant.VideoSearchActivity" />
        <activity android:name=".controller.Youtube.Aidant.VideoDisplayerActivity" />
        <activity
            android:name=".controller.Youtube.DispatcherActivity"
            android:label="@string/title_activity_youtube_dispatcher"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>