<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.julienelkaim.testyoutube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Projet ENAP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.LoginActivity"></activity>
        <activity android:name=".controller.RegisterActivity" />
        <activity android:name=".controller.StartAuthActivity" />
        <activity android:name=".controller.YoutubeChildDisplayerActivity" />
        <activity android:name=".controller.MainDispatcherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.YoutubePlaylistResearchActivity" />
        <activity android:name=".controller.YoutubePlayListDisplayerActivity" />
        <activity
            android:name=".controller.YoutubeDispatcherActivity"
            android:label="@string/title_activity_youtube_dispatcher"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>